@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e2e1df;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light: #f3e5d2;
  --color-dark: #282c34;
  --color-goku-orange: rgba(227, 60, 18, 1);
  --color-homeworld-blue: rgba(20, 150, 220, 1);
  --color-sunshoe-plum: rgba(141, 98, 154, 1);
  --color-clouded-pine: rgba(14, 158, 94, 1);
  --color-flirty-salmon: rgba(255, 78, 150, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c34;
    --foreground: #efede2;
  }
}

@media (min-width: 640px) {
  .wave {
    position: relative;
    transistion: 0.2s;
    height: 1.5em;
    display: flex;
  }
}

@media (max-width: 639px) {
  .wave {
    position: relative;
    transistion: 0.2s;
    height: 1.8em;
    display: flex;
  }
}

@media (min-width: 640px) {
  .wave:hover span {
    position: relative;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
}

@media (max-width: 639px) {
  .wave span {
    position: relative;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }
}
  

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

